<ul>
    <li><a href="?page=listorders">Список заказов</a></li>
    <li><a href="?page=listclients">Список клиентов</a></li>
    <li><a href="?page=catalog">Каталог товаров</a></li>
</ul>
<form method="get" action="?page=listorders">
    <input type="hidden" name="page" value="listorders">
    <div>
        <span>Клиент: </span>
        <select class="form-select" name="client_id">
            <option value=0 selected>Выберите клиента...</option>
            {% for client in clients %}
                <option value={{ client.ID }}>{{ client.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <span>Дата: </span>
        <input name="order_date" class="form-control" type="date" placeholder="yyyy-mm-dd">
    </div>
    <div>
        <span>№ заказа: </span>
        <input type="number" class="form-control" name="order_num">
    </div>
    <div>
        <span>Страница: </span>
        <input type="number" value=1 name="limit">
    </div>
    <div>
        <input type="submit" value="Найти">
    </div>
</form>
{{ message }}
{% if orderList|length > 0 %}
<table border=1>
    <tr>
        <td>Номер заказа:</td>
        <td>Дата заказа:</td>
        <td>Клиент:</td>
        <td>Товаров:</td>
        <td>Цена:</td>
    </tr>
    {% for order in orderList %}
    <tr>
        <td><a href="?page=orderinfo&oid={{ order.oid }}">{{ order.order_num }}</a></td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.client }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.price|round(1) }}</td>
        <td><form method="post" action="?page=editorder&oid={{ order.oid }}">
            <input type="submit" value="Редактировать">
        </form></td>
        <td><form method="post" action="?page=deleteorder&oid={{ order.oid }}">
            <input type="submit" value="Удалить">
        </form></td>
    </tr>
    {% endfor %}
</table>
{% else %}
По вашему запросу ничего не найдено
{% endif %}
<form method="post" action="?page=addorder">
    <input type="submit" value="Добавить заказ">
</form>